html {
    font-size: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Inter", sans-serif;
    font-size: 0.875rem;

    background-color: $darkgray;
    color: $white;
}

// @media(max-width: 446px) {
//     .content-container {
//         max-width: 20.625rem;
//         padding: 1.5625rem;
//     }

//     .button button {
//         max-width: 87%;
//     }
// }


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    text-align: center; /*Learnt this today*/
}

.content-container {
    background-color: $mediumgray;
    max-width: 24.125rem;
    padding: 2.5rem;
    border-radius: 1rem;
}

.user-profile {
        
    img {
        border-radius: 50%; /*Learnt this today*/
        width: 5.625rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-weight: 600;
        color: $green;
        margin-bottom: 1.875rem;
    }
}

p {
    margin-bottom: 1.5rem;
}

.button button {
    display: block;

    font-family: inherit;
    font-size: inherit;
    font-weight: 700;

    height: 2.875rem;
    min-width: 19.125rem;
    padding: 1rem;

    background-color: $lightgray;
    color: $white;

    border: none;
    border-radius: 10px;

    cursor: pointer;
    transition: 200ms ease-in-out; /*Learnt this today*/

    &:not(:last-child) { /*Learnt this today*/
        margin-bottom: 1rem;
    }
}

.button button:hover {
    background-color: $green;
    color: $darkgray;
}